.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
.a {
    color: red;
}
